
:root {
  --background-color: white;
  --text-color: black;
  --secondary-color: lightcyan;
  --tertiary-color: lightgrey;
  --accent-color: red;
  --emphasize-color: teal;
}

body {
  display:block;
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--text-color);
  color: var(--text-color);
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
  font-family: Georgia, "Times New Roman", serif;
}

h1, h2 {
  line-height: 1.6;
}

a {
  color: var(--accent-color)
}

blockquote {
  font-style: italic;
  font-size: 25px;
  margin-left: 20px;
  border-left: 5px solid var(--accent-color);
  padding-left: 10px;
}

#header, #footer {
  display:block;
  background-color: var(--text-color);
  color: var(--background-color);
  text-align:center;
  padding: 5px;
}

#header {
  border-bottom: 2px solid var(--accent-color);
}

#footer {
  border-top: 2px solid var(--accent-color);
  font-size: 15px;
}

#content {
  background-color: var(--background-color);
  padding: 10px;
}

#site-title {
  font-size: 25px;
  font-weight: bold;
}

#site-title a {
  text-decoration: none;
  color: var(--background-color);
}

#site-title a:hover {
  color: var(--accent-color);
}


#article-title {
  text-align: center;
  color: var(--accent-color);
  margin:0;
}

.article-metadata {
  padding: 5px;
  font-style: italic;
  background-color: var(--secondary-color);
  color: var(--text-color);
  text-align: center;
}

.highlight {
  display: block;
  font-style:italic;
  background-color: var(--secondary-color);
  padding: 10px;
  margin: 10px;
}

.emphasize {
  font-weight: bold;
  font-style: italic;
  color: var(--emphasize-color);
}

.accentuate {
  color: var(--accent-color);
}

.image {
  background-color: var(--secondary-color);
  display: block;
  text-align: center;
  font-style: italic;
}

.image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

#menu {
  display:flex;
  background-color: var(--text-color);
  color: var(--background-color);
  justify-content:center;
}

#menu-list {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

#menu-list li {
  padding-right: 5px;
  margin-right: 5px;
}

table {
  margin: 0 auto;
  border: 1px solid var(--text-color);
}
thead {
  background-color: var(--secondary-color);
}
th, td {
  padding: 5px;
}

.even {
  background-color: var(--tertiary-color);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  body {
    font-size: 22px;
  }

  #site-title {
    font-size: 25px;
  }

  #footer {
    font-size: 18px;
  }

  #article-title {
    font-size: 26px;
  }

  #menu-list {
    font-size:20px;
  }
}