
:root {
  --background-color: #1D2125;
  --text-color: #B6C2CF;
  --link-color: #579DFF;
  --border-color: #A6C5E229;
  --highlight-background-color: black;
  --accent-color: mediumseagreen;
}

body {
  display:block;
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  font-family: Georgia, "Times New Roman", serif;
}

h1, h2 {
  color: var(--accent-color);
  line-height: 1.6;
}

h1 {
  font-size: 25px;
  font-weight: bold;
}

a {
  color: var(--link-color)
}

#output {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  padding: 10px; 
  margin-top: 20px;
  color:var(--text-color)
}