
:root {
  --background-color: #1D2125;
  --text-color: #B6C2CF;
  --link-color: #579DFF;
  --border-color: #A6C5E229;
  --highlight-background-color: black;
  --accent-color: mediumseagreen;
}

.inverted {
  background-color: var(--text-color);
  color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  display:block;
  margin: 0 auto;
  font-size: 20px;
  text-align: justify;
  line-height: 1.6;
  font-family: Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4 {
  color: var(--accent-color);
  line-height: 1.6;
}

h1 {
  text-align: center;
  margin:0;
}

a {
  color: var(--link-color)
}

strong, em {
  color: var(--accent-color);
}

pre {
  font-family: inherit;
  overflow: auto;
}

#header, #footer {
  display:block;
  text-align:center;
  padding: 5px;
}

#footer {
  font-size: 15px;
}

#content {
  max-width: 900px;
  margin: 0 auto;
  color: var(--text-color);
  padding: 10px;
}

#site-title {
  font-size: 25px;
  font-weight: bold;
}

#site-title a {
  color: var(--accent-color);
  text-decoration: none;
}

#site-title a:hover {
  color: var(--link-color);
}

.article-metadata {
  padding: 5px;
  font-style: italic;
  text-align: center;
}

blockquote, .highlight {
  font-style: italic;
  margin: 10px 20px;
  padding: 10px;
}

blockquote {
  font-size: 25px;
  border-left: 5px solid var(--accent-color);
}

.highlight {
  background-color: var(--highlight-background-color);
  display: block;
}

.image {
  background-color: var(--highlight-background-color);
  border-radius: 10px;
  display: block;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

.image img {
  display: block;
  border-radius: inherit;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.menu {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: center;
}

.menu-list {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

.menu-list-item {
  margin-right: 10px;
}

table {
  margin: 15px 0px;
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: var(--highlight-background-color);
}

th, td {
  border: 1px solid var(--border-color);
  padding: 5px;
}

.even {
  background-color: var(--border-color);
}

caption {
  caption-side: bottom;
  font-style: italic;
  color: var(--accent-color);
  background-color: var(--highlight-background-color);
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  body {
    font-size: 22px;
  }

  #site-title {
    font-size: 25px;
  }

  #footer {
    font-size: 18px;
  }

  #article-title {
    font-size: 26px;
  }

  #menu-list {
    font-size:20px;
  }
}