
:root {
  --background-color: white;
  --text-color: black;
  --secondary-color: lightcyan;
  --tertiary-color: lightgrey;
  --accent-color: red;
  --emphasize-color: teal;
}

body {
  display:block;
  max-width: 1024px;
  margin: 0 auto;
  background-color: var(--text-color);
  font-size: 18px;
  text-align: justify;
  line-height: 1.6;
  font-family: Georgia, "Times New Roman", serif;
}

h1, h2 {
  line-height: 1.6;
}

h1 {
  color: var(--background-color);
  font-size: 25px;
  font-weight: bold;
}

a {
  color: var(--accent-color)
}

#output {
  border-top: 1px solid var(--background-color);
  border-bottom: 1px solid var(--background-color);
  padding: 10px; 
  margin-top: 20px;
  color:var(--background-color)
}